<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">My Forum</span></p>
        </div>
        <div *ngIf="!isLoggedIn" class="mini-navbar">
            <ul>
                <li>
                    <a *ngFor="let authItem of authItems" [routerLink]="authItem.link">{{authItem.caption}}</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a *ngFor="let item of headerItems" [routerLink]="item.link">{{item.caption}}</a>
            </li>
        </ul>
    </nav>

</header>